/*----------------------------------------------------------------------------------------------------*/
/* MAIN DOCUMENT
*/
html {
	height:100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFFFEF;
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 62.5%;
	line-height: normal;
	padding: 0;
	margin: 0;
	height: 100%;
}
img {
  cursor:pointer;
}
/*----------------------------------------------------------------------------------------------------*/
/* HEADER
*/
.banner {
	background-image: url(../images/degrade6.jpg);
	background-repeat:repeat-x;
	height:95;  //was 125
	margin: 0;
	padding: 0;
	min-width: 1024px;  //was 1000px;
}
#logo {
	background-image: url(../images/logo6.jpg);
	height: 90px;  //was 120
	width: 438px;
	position: absolute;
	left: 0px;
	top: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	z-index: 5;
}
#divVersion {
	z-index:15;
	position: absolute;
	top: 8px;                 //72px
	left: 220px;
	font-size: 12px;
}
#bestview {
	z-index:15;
	position: absolute;
	top: 85px;
	left: 220px;
	font-size: 12px;
}
#copyrighttext {
	z-index:15;
	position: absolute;
	top: 57px;                //87px
	left: 220px;
	font-size: 10px;
	color : #dddddd;
}
.TopInputMainBanner {
	height: 125px;      //was125px
	min-width: 1000px;
}
.TopInputDiv {
	height: 79px; //was 85px;
	width: 860px; //was 735px; 
	position: absolute;
	padding-top:0px;
	top: 10px;                   //was 40px
	left:30px;
	font-size: 14px;
	font-weight: bold;
	color: #141031;

	z-index: 20;
	margin-left: 130px;                                  //was 420px;
	//background-image: url(../images/topinputdegra.jpg);
	//background-repeat: repeat-x;
	background-color: PaleGoldenRod ;
	border-radius: 14px;     
	-moz-border-radius:14px; /* Old Firefox */
	padding-left:8px;
}
.srvtype {
    padding: 0px;
    font-size: 12px;
    width: 50px;
}
.InputDateFld {
	font-size: 12px;
	width: 105px;               //was 115
	padding:0px;
}
.srvlist {
	font-size: 12px;
	width: 140px;                 //was 155px;
	padding:2px;
}
.srvlisthidden {
	font-size: 12px;
	width: 140px;                 //was 155px;
	padding:0px;
}
.DFormatStyle {
	font-size: 12px;
	width: 55px;
	padding:0px;
}

img.btn {
	vertical-align: central;
    float:left;
	text-align: center; 
}
input.btn{
    float:left;
	background-color: #FFFFFF;
	background-image: url("../images/button_bkg.gif");
	color: #FFFFFF;
	cursor: pointer;
	font-size: 11px;
	font-weight: 900;
	height: 26px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 2px;
	vertical-align: bottom;
	text-align:left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
img.smallbtn {
	vertical-align: central;
    float:left;
	text-align: center; 
	margin:0;
	border:0;
	padding:0;
}
input.smallbtn {
    float:left;
	background-color: #FFFFFF;
	background-image: url("../images/smallbutton_bkg.gif");
	color: #FFFFFF;
	cursor: pointer;
	font-size: 10px;
	font-weight: 900;
	height: 13px;
	margin: 0;
	#overflow-x: visible;
	#overflow-y: visible;
	padding: 0;
	vertical-align: bottom;
	text-align:center;
	border:0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.MenuInBanner {
	height: 30px;
	width: 300px;
	position: relative;
	float: none;
	font-size: 16px;
	margin-top: 0px;
}

#menu {
}
#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	font-size: 12px;
}
#menu li {
	float:left;
	margin:0;
	background-color:#1B173A;
	padding-top: 4px;
	padding-bottom: 4px;
}
.SelectDateInBanner DIV#menu li a {
	display:block;
	color:white;
	text-decoration:none;
}

.IncDateInBanner DIV#menu li a {
	display:block;
	color:white;
	text-decoration:none;
}

#menu li a:hover {
	color:white;
	background-color:#900;
}
#menu li a:sfhover {
	color:white;
	background-color:#900;
}
#menu ul li ul {
display:none;
}
#menu ul li:hover ul {
display:block;
}
#menu ul li:sfhover ul {
display:block;
}
#menu li:hover ul li {
float:none;
}
#menu li:sfhover ul li {
float:none;
}
#menu li ul {
position:absolute;
}




















.leftpane {
	height:100%;
	//color:red;
	position:absolute;
	left:0;
	top:0;
}



.maindiv{
	position:absolute;
	left:210px;       
	top:110px;        //was 130  / 85
	//color:#1B173A;
	text-align:center;
}

.maindiv h2 {
	clear:both;
    font-size:32px;
    text-align:center;
}


.sqlbrowserdiv{
	width:100%; 
	height:100%; 
	border:0;
	//position:absolute;
	//left:210px;       
	top:150px;        //was 130  / 85
	//color:#1B173A;
	//text-align:center;
}




.boxinmain {
	margin-top:0px;
 	margin-left:auto;
	margin-right:auto;
	padding:10px;
	max-width:10px;
    display:inline-block;
	font-size: 12px;
	clear:both;
}


.imginmain img{
    margin:10px;
	padding:0px;
	cursor: default;
}

.archbox {
	background-color: #f9fbcb;
	background-image: url(../images/archbox_back.jpg);
	background-repeat:no-repeat;
	width: 180px;
	color: #1B173A;
	border: medium solid #1B173A;
	margin-top:13px;
}

.archbox DIV.panel {
	margin: 2px;
	padding:2px;
	border: thin solid #3D717F;
	
}

.archbox DIV.archboxtitle {
	text-align : center;
	font-size : 0.9em;
	padding : 2px;
	color : #000000;
	background-color : #3E7280;
	color: #fff;
	font-weight : bold;
}



.selarchbox {
	//border: thin solid #181435;
	//border-style: inset;
	font-size: 12px;
	width: 121px;                      //was 121
	background-color:#FFF;
	padding : 2px;
}


.inparchbox {
	border: thin solid #181435;
    border-style: inset;
    width: 115px;
	font-size: 10px;
	background-color:#FFF;
	padding : 2px;
}

.inparchbox2 {                          //was not here
	border: thin solid #181435;
    border-style: inset;
        width: 112px;
	font-size: 12px;
	background-color:#FFF;
	padding : 2px;
}

#gaugediv {
	width: 146px;
	height:40px;
	padding:2px;
	border: thin solid #3D717F;
	
}



.selectbox {
    background-color:#3E7280;
    padding-bottom:1px;
    width:170px;                         //was 190px;
}




#menuSelector {
width: 160px;                         //was 190px;
margin-left:5px;
margin-right:5px;
margin-top:0px;
margin-bottom:5px;
}

#menuSelector ul {
list-style: none;
margin: 0;
padding: 0;
}

#menuSelector li a {
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 20px;
	text-decoration: none;
	text-align: left;
}


#menuSelector li a:link, #menuSelector li a:visited {
color: #000;
display: block;
background: url(../images/selector2.gif);
padding: 8px 0 0 30px;
}

#menuSelector li a:hover {
	color: #000;
	background: url(../images/selector2.gif) 0 -32px;
	padding: 8px 0 0 30px;
}

#menuSelector #selected {
	color: #000;
	background: url(../images/selector2.gif) 0 -32px;
	padding: 8px 0 0 30px;
}






/*----------------------------------------------------------------------------------------------------*/
#divMenu {
	height: 30px;
	width: 600px;
	position: left;
	float: left;
	font-size: 16px;
	margin-top: 0px;
}