# Store your passwords here. Asemon_logger encrypts not yet encrypted passwords when it starts
#
# Format of a not yet encrypt row :
# SERVER;user;clear_password
#
# Format of an encrypt row :
# --SERVER;user;encrypted_password
#
#
YOURSERVER;USER;PASSWORD
